<h1>Random Pokémon Generator</h1>
<p>Welcome to the <strong>Random Pokemon Generator</strong>.<br>Just refresh the page or click the button to randomly pick another pokémon from the Pokédex.</p>
<form action="/" method="get">
  <button type="submit" class="btn btn-success">Generate another pokémon</button>
</form>
<div class="d-flex flex-wrap flex-row align-items-center justify-content-center m-5">
  <h2 class=""><%= @name %></h2>
  <p class="my-0 mx-2">Pokédex #: <strong><%= @pokedex_num %></strong></p>
</div>
<div class="d-flex align-items-center justify-content-center">
    <img src="<%= @sprite %>" width="300px">
  </div>
</div>
